/* A4 style start */

/*body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    background-color: #ffffff;*/
/*    !*font: 12pt "Tahoma";*!*/
/*}*/

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/*.page {*/
/*    width: 21cm;*/
/*    min-height: 29.7cm;*/
/*    padding: 2cm;*/
/*    margin: 1cm auto;*/
/*    border: 1px #D3D3D3 solid;*/
/*    border-radius: 5px;*/
/*    background: white;*/
/*    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
/*}*/

/*.subpage {*/
/*    padding: 1cm;*/
/*    border: 5px red solid;*/
/*    height: 256mm;*/
/*    outline: 2cm #FFEAEA solid;*/
/*}*/

@page {
    size: A4;
    margin: auto;
}

@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

/* A4 style end */

body {
    --mainColor: #EF8200;
    --mainColor2: #0075CE;
    --mainColor3: #E50012;
    --mainColor4: #3eb8ed;
}

* {
    -webkit-print-color-adjust: exact !important;
    /* Chrome, Safari */
    color-adjust: exact !important;
    /*Firefox*/
}

body, html {
    height: 100%;
    background-color: #ffffff;
}

b, body, div, html, img, p, span, u {
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}

body {
    line-height: 1;
    font-family: "Open Sans", "Segoe UI", "PingFang SC", "Microsoft YaHei", "Helvetica Neue", "Hiragino Sans GB", "WenQuanYi Micro Hei", Arial, sans-serif !important;
    word-break: break-word;
    word-wrap: break-word;
    color: #000;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    overflow-x: hidden;
    font-size: .16rem
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom
}

/*#id {*/
/*    padding: .25rem 0;*/
/*    position: relative;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    z-index: 99;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    overflow: initial;*/
/*    transition: all .4s*/
/*}*/

.flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 1 0
}

.hide-btn {
    margin: 0;
    border: 0;
    position: relative;
    padding: 1rem;
    /*border: solid #dee2e6;*/
    /*border-width: 1px 0;*/
}

.hide-btn > .btn {
    margin: 0.25rem 0.125rem;
}

.cfopModule {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-weight: inherit;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
    word-break: break-word
}

.cfopModule .section {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 50px;
}

/*.cfopModule p,*/
/*.cfopModule span {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    color: inherit;*/
/*    font-size: inherit;*/
/*    line-height: inherit*/
/*}*/

/*.cfopModule img {*/
/*    !* display: block; *!*/
/*    max-width: 100%;*/
/*    vertical-align: top*/
/*}*/

.cfopModule .mainColor {
    color: var(--mainColor);
    /*border-color: var(--mainColor);*/
    /*font-weight: 700*/
}

.cfopModule .mainColor2 {
    color: var(--mainColor2);
    /*border-color: var(--mainColor2)*/
}

.cfopModule .mainColor3 {
    color: var(--mainColor3)
}

.cfopModule .grid {
    overflow: hidden;
    counter-reset: i;
    justify-content: flex-start
}

.cfopModule .grid .unit, .cfopModule .intro .unit {
    width: 50%;
    height: 7rem;
    padding: 0 0px 0 55px;

    page-break-inside: avoid; /* 避免在元素前插入分页符 */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    float: left;
    position: relative;
    border: 0.5px solid var(--mainColor4);
    /*border-top: 0.5px solid var(--mainColor4);*/
    /*border-left: 0.5px solid var(--mainColor4);*/
    /*border-right: 0.5px solid var(--mainColor4);*/
    border-radius: 10px;
    overflow: hidden;
    align-items: center
}

.cfopModule .intro .unit a {
    padding: 10px;
}

/*.cfopModule .grid .unit p {*/
/*    font-size: 18px;*/
/*    text-align: center;*/
/*}*/

.cfopModule .grid .unit .orderNum {
    display: block;
    color: var(--mainColor4);
    width: 30px;
}

.cfopModule .grid .desc {
    /*font-size: 1px;*/
    text-align: left;
}

.cfopModule .grid .unit .exampleImg {
    width: 20%;
    height: auto;
    cursor: move;
}

.cfopModule .grid .unit .exampleImg img {
    /*max-width: 80%;*/
}

.cfopModule .grid .unit .codeText {
    width: 80%;
    margin-left: 10px;
}

.cfopModule .grid .unit .codeText p {
    letter-spacing: 1px;
    text-align: left;
    /*font-size: 17px;*/
}

.cfopModule .intro {
    font-size: 0.7em;
}

.cfopModule .intro .unit p {
    /*font-size: 1px;*/
    text-align: left;
}

.cfopModule .intro .unit .letter {
    width: 100%;
    /*height: 100px;*/
}

.cfopModule .intro .unit .imgArea {
    display: flex;
    width: 10%;
}

.cfopModule .intro .unit .imgArea img {
    padding: 3px;
}

.cfopModule .intro .logo {
    width: 80%;
}

.cfopModule .grid .title {
    margin-left: 5px;
    height: 60px;
}

.cfopModule .grid .title .abbr {
    font-size: 24px !important;
    font-weight: 700;
}

.cfopModule .grid .cfopF2L {
    /*display: inline-block;*/
    min-width: 102px;
    height: 60px;
    background: url(images/intro/img1.png) no-repeat 0 0;
    background-size: 230px;
}

.cfopModule .grid .cfopOLL {
    /*display: inline-block;*/
    min-width: 102px;
    height: 60px;
    background: url(images/intro/img1.png) no-repeat -64px 0;
    background-size: 230px;
}

.cfopModule .grid .cfopPLL {
    /*display: inline-block;*/
    min-width: 102px;
    height: 60px;
    background: url(images/intro/img1.png) no-repeat -128px 0;
    background-size: 230px;
}


.btn-clipboard, .btn-zoom-in {
    display: block;
    padding: .5em;
    line-height: 1;
    z-index: 2;
    background-color: #ffffff;
    border: 0;
    border-radius: .25rem;
    position: relative;
}

.btn-clipboard:hover {
    color: #0d6efd
}

.btn-clipboard:focus {
    z-index: 3
}

.bi {
    width: 1em;
    height: 1em;
    fill: currentcolor;
}

.cfopModule .modal-body .formula-detail {
    width: 100%;
    height: 250px;
    /*display: flex;*/
    overflow: hidden;
    align-items: center;
    text-align: center;
    font-size: 30px;
}

.cfopModule .modal-body .formula-detail .f-img {
    margin: 20px;
}

.cfopModule .modal-body .formula-detail .f-code {
    width: 100%;
    letter-spacing: 2px;
    text-align: left;
}

.cfopModule .grid .unit .codeText:hover .overlay {
    opacity: 1;
    pointer-events: auto;
}

.overlay {
    position: absolute;
    transition: 0.7s ease;
    opacity: 0;
    width: 55%;
    height: 100%;
    /*right: 70px;*/
    top: 0;
    background-color: #00000087;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.overlay i {
    font-size: 2rem !important;
    color: #ffffff;
}

@media print {
    .cfopModule .grid .unit:nth-child(even), .cfopModule .intro .unit:nth-child(even) {
        transform: rotate(180deg);
    }
}